<ol>
  <% song_requests.each do |song_request| %>
    <li>
      <strong><%= song_request.title %></strong>
      by
      <span class="font-italic"><%= song_request.artist %></span>
      <% if editable %>
        <%= link_to 'Remove', invitation_song_request_url(song_request.invitation, song_request), :method => :delete, :class => 'btn-sm btn-danger' %>
      <% end %>
    </li>
  <% end %>
</ol>
