<h1>Song Requests</h1>

<p>Guests can add song requests once they've accepted their invitation. They will show up here.</p>

<%= render 'list', :song_requests => @song_requests, :editable => false %>
