<div id="info" class="row rounded">
  <div class="col">

    <dl class="text-center">
      <dt>Hosts</dt>
      <dd>
      Felice and Kendrick Wong
      <br />
      858-735-9790
      </dd>

      <dt>When</dt>
      <dd>
      Saturday, February 2
      <br />
      6:30 PM to 10:00 PM
      </dd>

      <dt>Where</dt>
      <dd>
      Wong residence
      <br />
      7831 Camino De La Dora
      <br />
      Rancho Santa Fe, CA 92067
      </dd>
    </dl>

    <div class="col-sm-2 offset-sm-5">
      <%= link_to 'RSVP', find_invitations_path, :class => 'btn btn-primary btn-block' %>
    </div>

  </div>
</div>
