<p id="notice"><%= notice %></p>

<h1>Invitations</h1>

<% @invitations_by_status.each do |status, invitations| %>
  <%= render 'for_status', :invitations => invitations, :status => status %>
<% end %>

<br>

<%= link_to 'New Invitation', new_invitation_path %>
