<p id="notice"><%= notice %></p>

<h1>Invitations</h1>

<%= link_to 'New Invitation', new_invitation_path %>

<% Invitation.statuses.keys.each do |status| %>
  <div class="row mt-4">
    <div class="col">
      <%= render 'for_status', :invitations => @invitations_by_status.fetch(status), :status => status %>
    </div>
  </div>
<% end %>

<br>
