<h1>New Invitation</h1>

<p>Leave blank to create a generic invitation to give out to anyone.
They can fill in the blanks once they RSVP.
</p>

<%= render 'form', invitation: @invitation %>

<%= link_to 'Back', invitations_path %>
