@import "theme"
@import "bootstrap"
@import "bootstrap/reboot" // for theme
@import "pages"
@import "invitations"

body
  background-image: image_url('disco-purple.jpg')
  background-repeat: no-repeat
  background-attachment: fixed
  background-size: auto 100%
  @include media-breakpoint-up(lg)
    background-size: 100%

  color: white

  .navbar-nav .nav-item .nav-link
    color: white
