<nav class="navbar navbar-expand-lg navbar-light">
  <div class="navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to 'Logout admin', {:logout => true}, :class => 'nav-link' %>
      </li>
    </ul>
  </div>
</nav>
